footer {
  background-color: #e0e0e0;
  color: ##6E6E6E;
  padding: 45px;
  position:sticky;
}

nav{
  background-color: #0B4C5F;
  color: white;
  padding: 1px;
}

p.custom{
  font-family: 'Lato', sans-serif;
  font-size: 300%;
}

p.customButton{
  font-family: 'Lato', sans-serif;
  font-size: 150%;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333340;
  background-color:#F2F2F2;
}

.box{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


a:hover{
  color:white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: white;
}
