footer {
  background-color: black;
  color: white;
  padding: 15px;
}

nav{
  background-color: #383760;
  color: white;
  padding: 10px;
}

p.custom{
  font-family: 'Pacifico', cursive;
  font-size: 300%;
}

p.customButton{
  font-family: 'Pacifico', cursive;
  font-size: 150%;
}

